HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
/.mvn/
/idea/
/jenkins/
/kafka_data/
/mongodb_data/
/pgadmin/
/postgres_data/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
.devcontainer/.ssh/id_rsa
.devcontainer/.ssh/id_rsa.pub
.devcontainer/.ssh/known_hosts
.DS_Store
